<div class="form-group required errored">
  <label class="font-weight-bold text-capitalize">{{ label }} *</label>
  <input
    [type]="inputType"
    [formControl]="control"
    [placeholder]="placeholder ? placeholder : ''"
    class="{{ cssClass(control.touched && control.errors) }}"
  />

  <div *ngIf="showErrors()">
    <p class="text-danger" *ngIf="control.errors.required">Value is required</p>
    <p class="text-danger" *ngIf="control.errors.minlength">Value is to short</p>
    <p class="text-danger" *ngIf="control.errors.maxlength">there are too much of character</p>
    <p class="text-danger" *ngIf="control.errors.pattern">this format value is not accestable</p>
  </div>
</div>
